.App {
  background-color: #282c34;
}

.bg-black {
  background-color: #252525;
}

.heading {
  font-family: glacial-regular-bold;
  font-size: 3.5rem;
}

.sub-heading {
  font-family: montserrat-semi-bold;
  font-size: 1.5rem;
  color: #000000;
}

.heading-position {
  font-family: glacial-regular;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #000000;
}

.contact-info {
  font-family: glacial-regular;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #ffffff;
}

.contact-action,
.contact-action:hover {
  color: #ffffff;
}

.workex-years {
  font-size: 0.8rem;
  color: #ffffff;
}

@media (max-width: 767px) {
  .heading,
  .sub-heading,
  .heading-position,
  .contact-info {
    text-align: center;
  }
  .heading-position {
    border-top: 0.1rem solid #000;
    padding-top: 2rem;
  }
}

@media (min-width: 768px) {
  .heading-position {
    border-right: 0.2rem solid #000;
  }
}

.heading-position > div:not(:first-child) {
  padding-top: 0.25rem;
}

.section-heading {
  font-family: montserrat-semi-bold;
  font-size: 1.2rem;
  color: #47bec9;
}

.section-border {
  border-bottom: 2px solid #47bec9;
}

.company-name {
  font-family: glacial-regular-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.job-title {
  font-family: montserrat-semi-bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.exp-details {
  border-top: 1px solid #47bec9;
  padding-left: 1.5rem;
}

.custom-card-header {
  padding: 15px 10px 0px 10px;
  margin: 0px 5px 0px 5px;
  font-size: 0.9rem;
}

.card-header-left {
  border-left: 2px solid #47bec9;
}

.card-header-right {
  border-right: 2px solid #47bec9;
}

.card-header-right a,
.card-header-right a:hover {
  color: #ffffff;
}

.start-date,
.end-date {
  color: #ffffff;
}

.end-date {
  border-top: 1px solid #47bec9;
}

.top-skills-label {
  font-family: montserrat-semi-bold;
  font-size: 1.1rem;
  border-right: 2px solid #ffffff;
}

.skill-name {
  font-size: 1.1rem;
}

.medium,
.github {
  font-size: 1.5rem;
}
