@font-face {
  font-family: glacial-regular;
  src: url(./assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: glacial-regular-bold;
  src: url(./assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}

@font-face {
  font-family: glacial-regular-italic;
  src: url(./assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf);
}

@font-face {
  font-family: montserrat-regular;
  src: url(./assets/fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: montserrat-semi-bold;
  src: url(./assets/fonts/montserrat/Montserrat-SemiBold.otf);
}

body {
  margin: 0;
  background-color: #282c34;
  color: #ffffff;
  font-family: glacial-regular, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
